<h1>Custom Workout Tracker</h1>
<p id="status" style="color:red;">{{status}}</p>
<form id="main-form">
  <fieldset>
    <legend>Update Workout Item</legend>
    <!-- This field set contains the input for city and state -->
    <label for="name_input">Workout Name:
      <input type="text" id="name-input" name="name_input" size="30" maxlength="255" placeholder="Bench Press" value="{{name}}" />
      <input type="hidden" id="key-id" name="key_id" value="{{id}}" />
    </label>
    <br /><br />
    <label for="reps_input">Reps:
      <input type="number" id="reps-input" name="reps_input" placeholder="10" min="0" max="999" value="{{reps}}" />
    </label>
    <br /><br />
    <label for="weight_input">Weight:
      <input type="number" id="weight-input" name="weight_input" placeholder="115" min="0" max="999" value="{{weight}}" />
    </label>
    <br /><br />
    <label for="date_input">Date:
      <input type="text" id="date-input" name="date_input" placeholder="2015-01-31"  value="{{date}}" />
    </label>
    <br /><br />
    <label for="lbs_input">Lbs?:
      <input type="number" id="lbs-input" name="lbs_input" min="0" max="1" placeholder="1 for lbs, 0 for kg"  value="{{lbs}}" />
    </label>
    <br /><br />
    <input type="submit" value="update" id="update">
  </fieldset>
  <br /><br />
</form>
<script src="/js/update.js"></script>